{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Baked Gold - About Us{% endblock %}</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
    <nav id="main-navbar">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li class="dropdown">
                <a href="menu.php" class="dropbtn">Menu</a>
                <div class="dropdown-content">
                    <a href="menu.php">Sandwiches</a>
                    <a href="menu.php">Desserts</a> 
                    <a href="menu.php">Bread</a>
                    <a href="menu.php">Dough</a>
                </div>
            </li>
            <li><a href="order.php">Order</a></li>
            <li><a href="favourites.php">Favourites</a></li>
        </ul>
    </nav>
    
    <section class="about-us-container">
        <h1 id="h1-about">About Us</h1>
        <h2>Welcome to Baked Gold</h2>  
        <p>At Baked Gold, we believe that every bite should be a delightful experience. Nestled in the heart of Mellieha, our bakery is a haven for those who cherish the art of baking and the joy of indulging in freshly made treats.</p>
    
        <h2>Our Story</h2>
        <p>Baked Gold was founded in 2024 by John Hoiles, a passionate baker with a dream to create a community space where people could come together over delicious, handcrafted baked goods. What started as a small, family-run business has blossomed into a beloved local favorite, known for its warm atmosphere and exceptional products.</p>
    
        <h2>Our Philosophy</h2>
        <p>Quality and tradition are at the heart of everything we do. We use only the finest ingredients, sourced locally whenever possible, and every item is baked fresh daily. From our rich, buttery croissants to our decadent chocolate cakes, each creation is made with love and meticulous attention to detail.</p>
    
        <h2>Our Products</h2>
        <p>Our diverse menu features a wide array of baked goods, catering to all tastes and dietary preferences. Whether you're in the mood for a classic pastry, a savory quiche, or a custom-designed cake for a special occasion, we have something to satisfy your cravings. We also offer a selection of gluten-free and vegan options, ensuring everyone can enjoy a taste of Sweet Bliss.</p>
    
        <h2>Our Commitment</h2>
        <p>At Baked Gold, we are committed to sustainability and supporting our local community. We strive to reduce our environmental footprint by using eco-friendly packaging and minimizing waste. Additionally, we partner with local farmers and suppliers to ensure our ingredients are of the highest quality and ethically sourced.</p>
    
        <h2>Our Staff</h2>
        <p>At Baked Gold our staff wants to ensure that customers get fresh bread, handmade with love. Our founder John Hoiles hand picked the bakery staff to make sure that customers get the respect that they deserve. We are Andrija, Gary and Karl and we wish you a pleasant experience with us here at Baked Gold.</p>

        <h2>Visit Us</h2>
        <p>Step into Baked Gold and let the aroma of freshly baked goods draw you in. <br>
            We are open on Monday - Saturday from 7:30 - 18:00  <br>
            At 200 Tower Road Sliema</p>
        <p>Thank you for being a part of our story and we look forward to serving you.</p>

    </section>
</body>



{% endblock %}
