{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bakery Name - Menu{% endblock %}</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<div> 
    <nav id="main-navbar">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="">Sandwiches</a></li>
            <li><a href="">Kids</a></li>
            <li><a href="">Drinks</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
