<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Name</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<div> 
    <header id="main-header">Restaurant Name</header>
    <nav id="menu-navbar">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="">Sandwiches</a></li>
            <li><a href="">Kids</a></li>
            <li><a href="">Drinks</a></li>
        </ul>
    </nav>
</div>
