{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an Order</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
    <nav id="main-navbar">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li class="dropdown">
                <a href="menu.php" class="dropbtn">Menu</a>
                <div class="dropdown-content">
                    <a href="menu.php">Sandwiches</a>
                    <a href="menu.php">Desserts</a> 
                    <a href="menu.php">Bread</a>
                    <a href="menu.php">Dough</a>
                </div>
            </li>
            <li><a href="order.php">Order</a></li>
            <li><a href="favourites.php">Favourites</a></li>
        </ul>
    </nav>
    
    <div class="forms-container">   
        <form id="order-form" action="order_submit.php" method="POST">
            <h1 id="order-head">Place an order</h1>
            <div id="thank-you"></div>
            <div id="thank-you"></div>
            <label for="orderinfo">Your Order:</label>
            <textarea id="order" name="orderinfo" rows="2" placeholder="Enter the name of the product/s you want to order" required></textarea>

            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            
            <label for="mobnum">Your Mobile Number:</label>
            <input type="tel" id="mobnum" name="mobnum" placeholder="Enter your mobile number" required>
            <p></p>

            <label for="straddress">Street Address:</label>
            <input type="text" id="straddress" name="straddress" autocomplete="street-address" placeholder="Enter your street address">
          
            <label for="locality">Locality:</label>
            <input type="text" id="locality" name="locality" autocomplete="address-level2" placeholder="Enter your locality">
          
            <label for="postalcode">Postal Code:</label>
            <input type="text" id="postalcode" name="postalcode" autocomplete="postal-code" placeholder="Enter your postal code">
                    
            <input type="submit" id="submit-btn" value="Submit">
        </form>
    </div>

    <script>
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

        var messageParam = getUrlParameter('message');
        if (messageParam === 'Thank you for contacting us') {
            document.getElementById('thank-you').innerHTML = '<p>Thank you for contacting us!</p>';
        }
    </script>
</body>
{% endblock %}
