{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an Order</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
    <nav id="main-navbar">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li class="dropdown">
                <a href="menu.php" class="dropbtn">Menu</a>
                <div class="dropdown-content">
                    <a href="menu.php">Bread</a> 
                    <a href="menu.php">Sweets</a>
                    <a href="menu.php">Dough</a>
                </div>
            </li>
            <li><a href="contact.php">Contact Us</a></li>
            <li><a href="order.php">Order</a></li>
            <li><a href="aboutus.php">About Us</a></li>
        </ul>
    </nav>
    <div class="forms-container">   
        <div id="thank-you">Thank you for placing an order with us!</div>
        <form id="order-form" action="submit.php" method="POST">
            <h1 id="order-head">Place an order</h1>
            <label for="order">Your Order:</label>
            <textarea id="order" name="order" rows="2" placeholder="Enter the name of the product/s you want to order" required></textarea>

            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            
            <label for="mobile">Your Mobile Number:</label>
            <input type="tel" id="mobile" name="mobile" placeholder="Enter your mobile number" required>
            <p></p>

            <label for="street-address">Street Address:</label>
            <input type="text" id="street-address" name="street-address" autocomplete="street-address" placeholder="Enter your street address">
          
            <label for="locality">Locality:</label>
            <input type="text" id="locality" name="locality" autocomplete="address-level2" placeholder="Enter your locality">
          
            <label for="postal-code">Postal Code:</label>
            <input type="text" id="postal-code" name="postal-code" autocomplete="postal-code" placeholder="Enter your postal code">
                    
            <input type="submit" id="submit-btn" value="Submit">
        </form>
    </div>

    <script>
        document.getElementById("order-form").addEventListener("submit", function(event) {
            event.preventDefault();
            document.getElementById("order-form").reset();
            document.getElementById("thank-you").style.display = "block";
        });
    </script>
</body>
{% endblock %}
